html, body {
    margin: 0;
    padding: 0;
}

/* heading section styling start */
.header {
    display: flex;
    background-image: url("../img/header.jpg");
    background-size: cover;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-family: 'Impact';
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 1px black;
}
/* heading section styling start */

/* Page daftar content section styling start */
.content {
    height: 530px;
    background-color: #FFEAC9;
}

.content h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-weight: normal;
}

.registration {
    width: 40%;
    height: 300px;
    background-color: #FFE49D;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration td {
    text-align: left; 
    font-weight: 100;
    padding: 12px;   
}

.registration input {
    height: 30px;
    width: 300px;
}

.registration td:last-child {
    text-align: center;
} 

#tombol-daftar, #tombol-login {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.content a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
}
/* Page daftar content section styling end */

/* mainpage styling start */
.container {
    box-sizing: border-box;
    background-color: #FFEAC9;
    width: 100%;
    font-family: Arial;
    font-size: large;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.tablecontent{
    width: 100%;
}

.tablecontent, .tablecontent td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.tablecontent th, .tablesubheader td {
    background-color: #D9D9D9;
}

.subcontent1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.petugas {
    background-color: #D9D9D9;
    justify-content: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-left: 20px;
    width: 15%;
}

.petugas ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.petugas ul li {
    padding-left: 0;
}

.subcontent1-1 {
    width: 100%;
    margin-right: 20px;
}

.peminjaman, .pengembalian {
    background-color: #FFE49D;
    border-radius: 20px;
    padding: 10px 0px 30px 10px;
    width: auto;
    margin: 10px;
}

.subcontent2 {
    display: flex;
    justify-content: center;
}

.anggota {
    width: 80%;
    background-color: #B4FFF1;
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
    margin: 10px;
}
/* mainpage styling start */

/* footer section styling start */
.footer{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}
/* footer section styling end */