body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

/*  */
.header {
    background-color: #1C7BC0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.header img {
    height: 75px;
    padding: 0 20px;
}

.header h1 {
    color: white;
}

#lambang-kabupaten {
    height: 60px;
}
/*  */

/*  */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding-top: 80px;
}

.login, .daftar {
    width: 40%;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
}

.button-container button {
    flex: 1;
    height: 50px;
    border: none;
}

.form-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
}

.form-container td {
    padding: 10px;
}

.form-container input {
    height: 40px;
    width: 300px;
}

.form-container td:last-child {
    text-align: center;
}

#tombol-daftar, #tombol-login {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #1C7BC0;
    color: white;
    border: none;
}

.onclick {
    background-color: #1C7BC0;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.notclick {
    background-color: lightgray;
}
/*  */

/*  */
.container {
    box-sizing: border-box;
    background-color: snow;
    width: 90%;
    margin: 120px auto 40px;
    font-family: Arial;
    font-size: large;
}

.table {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.tablecontent{
    width: 100%;
}

.tablecontent, .tablecontent td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.tablecontent th, .tablesubheader td {
    background-color: #D9D9D9;
}

.subcontent1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.petugas {
    background-color: #D9D9D9;
    justify-content: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-left: 20px;
    width: 25%;
}

.petugas ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.petugas ul li {
    padding-left: 0;
}

.subcontent1-1 {
    width: 100%;
    margin-right: 20px;
}

.peminjaman, .pengembalian {
    background-color: #1C7BC0;
    border-radius: 10px;
    padding: 10px 0px 30px 10px;
    width: auto;
    margin: 10px;
    color: white;
}

.subcontent2 {
    display: flex;
    justify-content: center;
}

.anggota {
    width: 40%;
    background-color: #1C7BC0;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    margin: 10px;
    color: white;
}

.anggota h4 {
    text-align: center;
}

.anggota table {
    margin-left: 20px;
}
/*  */

/*  */
.footer {
    background-color: #1C7BC0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
}
/*  */